[req]
default_bits = 4096
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C=US
ST=WA
L=Tacoma
O=My Laptop
OU=Rancher Kubernetes Engine
emailAddress=ray.finch@gmail.com
CN = rancher.minikube.info

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = rancher1
IP.1 = 172.28.128.10
IP.2 = 172.28.128.110
